

$weights: 100, 200, 300, 400, 500, 600, 700;

@each $weight in $weights {
  .msc-#{$weight} {
    --wght: #{$weight};
  }
}

.msc-fill {
  font-variation-settings: "FILL" 1;
}

$fills: 0, 1;

@each $fill in $fills {
  .msc-fill-#{$fill} {
    --fill: #{$fill};
  }
}

$grades: -25, 0, 200;

@each $grade in $grades {
  .msc-grade-#{$grade} {
    --grad: #{$grade};
  }
}

$opszs: 20, 24, 40, 48;

@each $opsz in $opszs {
  .msc-opsz-#{$opsz} {
    --opsz: #{$opsz};
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.msc-spin {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.msc-fix {
  text-align: center;
  width: 1.5em;
}
